html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Helvetica Now Display", "Helvetica Neue", "Helvetica";
  background: #101010;
  color: #e3e3e3;
  font-weight: 500;
  margin: 0;
  padding: 0;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

.container {
  width: 90vw;
  margin: 5rem auto;
  position: relative;
  background: #1b1b1b;
  padding: 2rem 5rem 2rem 5rem;

}
a {
  text-decoration: none;
}

/* Type 
 ----------------------------- */

h1,
.f1 {
  font-size: 6.625rem;
  letter-spacing: -0.03em;
  line-height: 100%;
  font-weight: 500;
} 

/* Utils 
 ----------------------------- */
.m0 {
  margin: 0;
}
.p0 {
  padding: 0;
}

/* Table 
 ----------------------------- */
table {
  width: 100%;
}

table tbody td,
table thead td {
  border: none;
  border-bottom: 1px solid #3c3c3c;
}

table.large thead {
  font-size: 1rem;
}

table.large tbody {
  font-size: 1.7rem;
}

table tbody tr {
  cursor: pointer;
  transition: background 150ms ease-in-out;
}

table tbody tr:hover {
  background: #111111;
}

/* Rethink is the best aproch */
table thead td {
  padding-bottom: 0.8em;
}

table tbody td {
  padding-bottom: 0.6em;
  padding-top: 0.6em;
}

table tbody tr:last-child td {
  border-bottom: none;
}

/* General 
 ----------------------------- */

.letter {
  display: inline-block;
}

.title {
  padding-top: 26vh;
}

.auxNav {
  position: absolute;
  top: 1%;
}

.extend span {
  display: inline-block;
}

.tileArtist {
  margin: 0;
  padding: 0;
  padding-top: 26vh;
}

.arrowback {
  color: #e3e3e3;
  font-size: 3rem;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  transition: transform 200ms ease;
}

.arrowback:hover {
  transform: rotate(35deg);
}

a.link {
  --color: #e3e3e3;
  position: relative;
  color: var(--color);
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  transition: color 150ms ease;
}

p a.link {
  display: inline-block;
  vertical-align: text-bottom;
}

a.link:before {
  width: 100%;
  height: 90%;
  content: "";
  position: absolute;
  background-size: 1px 1em;
  background-size: 1px 1em;
  transition: box-shadow 150ms ease;
  transform-origin: 0% 0%;
}

a.link:hover {
  --color: #262626;
}

a.link:after {
  content: " ↗";
  transition: transform 150ms ease;
}

.sticky {
  display: table;
}
.sticky tr {
  position: fixed;
  width: 83vw;
  background: #1b1b1b;
  padding: 1.5rem 0 1rem 0;
  display: table;
  top: -4rem;
  transform: translateY(4rem);
  transition: transform 400ms ease-out;
}
.sticky td {
  border-bottom: none;
}

.check svg {
  opacity: 0;
}

.check.active svg {
  opacity: 1;
}

.filterIsOpen {
  opacity: 0.2;
  transition: opacity 300ms ease-in-out;
  cursor: pointer;
}

.filterIsOpen table {
  pointer-events: none;
}

/* Responsive
 ----------------------------- */
@media (max-width: 480px) {
  :root {
    font-size: 12px;
  }
  .container {
    width: 95vw;
    margin: auto;
    position: relative;
    background: #1b1b1b;
    padding: 2rem 5rem 2rem 5rem;
  
  }
  h1,
  .f1 {
    font-size: 4rem;
    letter-spacing: -0.02em;
  }

  .dn {
    display: none;
  }

  .tileArtist {
    padding: 2rem 0;
  }

  .arrowback {
    transition: none;
  }

  .arrowback:hover {
    transform: rotate(0deg);
  }

  .extend span {
    display: inline;
  }
}

@media (min-width: 1600px) {
  :root {
    font-size: 18px;
  }
}
